<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="maskedMsg"
                    converterClass="com.stokr.bootstrap.logging.SecretMaskingConverter"/>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>@timestamp</fieldName>
                    </timestamp>
                    <version/>
                    <loggerName/>
                    <threadName/>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <logLevelValue>
                        <fieldName>[ignore]</fieldName>
                    </logLevelValue>
                    <callerData/>
                    <mdc>
                        <fieldName>trading_context</fieldName>
                    </mdc>
                    <pattern>
                        <pattern>%maskedMsg</pattern>
                        <fieldName>message</fieldName>
                    </pattern>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2048</maxLength>
                            <shortenedClassNameLength>20</shortenedClassNameLength>
                            <exclude>^sun\.reflect\..*\.invoke</exclude>
                            <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{36}) [%mdc{correlationId}] %maskedMsg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <neverBlock>true</neverBlock>
        <queueSize>2048</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.SseEmitter" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
</configuration>
